# GEMINI_API_KEY: Required for Gemini AI API calls.
GEMINI_API_KEY="MY_GEMINI_API_KEY"

# APP_URL: The URL where this applet is hosted.
APP_URL="MY_APP_URL"

# SUPABASE CONFIGURATION
VITE_SUPABASE_URL=https://koquuccenxpkerwkehyt.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_YvpzSQMR6oXxXL_qseMOCA_0-ZYi7_7
